{% load staticfiles %}
{% load pipeline %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home Automation</title>
        <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
        {% stylesheet 'main' %}
        {% javascript 'jquery' %}
        {% javascript 'ajax-setup' %}
        {% javascript 'react' %}
    </head>
    <body>
        <div id="panel"></div>
        {% javascript 'main' %}
    </body>
</html>
