// out: ../css/style.css
body {
    padding: 20px;
    background: -webkit-gradient(linear, left top, left bottom, from(#363636), to(rgb(29, 29, 29))); /* for webkit browsers */
    background: -moz-linear-gradient(top, #363636,  rgb(29, 29, 29)); /* for firefox 3.6+ */

}

.panel {
    //width: 93%;
    display:table;
    background: rgba(0, 0, 0, 0);
    color: Green;
    padding: 20px;
    text-align: right;
    border: 1px solid;

    //box-shadow: 0px 5px 5px darken(#4e4e4e, 20%);

    .configButton {
        position: absolute;
        right: 64px;
        border: 0;
        width: 64px;
        height: 64px;
        margin: auto;
        background: url('../img/config.png') 0 0;

    }

    .config {
        width: 150px;
        background: rgba(0, 0, 0, 0);
        border: 1px solid;
        //color: #adadad;
        padding: 20px;
        text-align: center;
        float:left;
        margin:10px;
        margin-top: 100px;
        //box-shadow: 0px 5px 5px darken(#4e4e4e, 20%);

        input[type="text"] {
            display: block;
            background: rgba(0, 0, 0, 0);
            color: Green;
            margin: 0;
            width: 85%;
            font-family: sans-serif;
            font-size: 14px;
            appearance: none;
            box-shadow: none;
            border-radius: none;
            padding: 10px;
            border: solid 5px Green;
            transition: border 0.3s;
            //box-shadow: 0px 5px 5px darken(#4e4e4e, 20%);
        }
        input[type="text"]:focus {
            outline: none;
            border: solid 5px #00ff00;
        }
    }
    .output {
        width: 150px;
        background: rgba(0, 0, 0, 0);
        border: 1px solid;
        //color: #adadad;
        padding: 20px;
        text-align: center;
        float:left;
        margin:10px;
        margin-top: 100px;
        //box-shadow: 0px 5px 5px darken(#4e4e4e, 20%);

        .redCircle{
            width: 50px;
            height: 50px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
            background-color: #ff0000;
            margin: auto;
            //box-shadow: 0px 5px 5px darken(#4e4e4e, 20%);
        }

        .greenCircle{
            width: 50px;
            height: 50px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
            background-color: #00ff00;
            margin: auto;
            //box-shadow: 0px 5px 5px darken(#4e4e4e, 20%);
        }

        button.enable {
            background: #00ff00;
            border: 0;
            //box-shadow: 0px 5px 5px darken(#4e4e4e, 20%);
            padding: 20px;
            margin: auto;
            margin-top: 20px;
            width: 100%;
            outline: none;
            border-radius: 3px;
            color: darken(#000000, 10%);
            font-weight: bold;
        }

        button.disable {
            background: Green;
            border: 0;
            //box-shadow: 0px 5px 5px darken(#4e4e4e, 20%);
            padding: 20px;
            margin: auto;
            margin-top: 20px;
            width: 100%;
            outline: none;
            border-radius: 3px;
            color: darken(#000000, 10%);
            font-weight: bold;
        }
    }
}
